<ion-view view-title="Information">
  <ion-content class="white">
    <div style="padding: 20px">
<center><img width="89%" src="/images/logo.png"></center>
<center><p><strong><font color="#208ee6">Flea</font><font color="#FCBB16">Brocante</font></strong> est une combinaison du mot anglais Flea-market et du mot français Brocante ; compte tenu du fait que l’application vise l’Afrique anglophone et francophone. Une mise à jour ultérieure aura des serveurs pour chaque pays d'Afrique, cela permettra à l’application de n’afficher que les produits disponibles dans votre pays.
</p></center>
<h5><center><u>Credits et Dédicace</u></center></h5>
<center>
<a href="#" onClick="window.open('https://www.facebook.com/nabelou.ouologuem','_blank','location=yes');return false;">Youssouf Nabelou Ouologuem</a> - <strong>Auteur</strong><br>
<strong>Aux de developpeurs </strong><a href="#" onClick="window.open('https://www.facebook.com/mamadOUologuem','_blank','location=yes');return false;">Mamadou Ouologuem</a><br> et <a href="#" onClick="window.open('https://www.facebook.com/Kouriba1','_blank','location=yes');return false;">Soumaila Kouriba</a><br>
<strong>À mes frères au Canada et Algerie</strong><a href="#" onClick="window.open('https://www.facebook.com/bassirou.ernesto','_blank','location=yes');return false;"> Bassirou Haidara</a>, <a href="#" onClick="window.open('https://www.facebook.com/bocar.guittey.5','_blank','location=yes');return false;">Bocar Guittey</a> et
<a href="#" onClick="window.open('https://www.facebook.com/fob.mg.3?ref=br_rs','_blank','location=yes');return false;">Oumar Berthe</a><br>
<strong>À mes partenaires à Houston </strong><a href="#" onClick="window.open('https://www.facebook.com/aboubacar.f.doucoure?ref=br_rs','_blank','location=yes');return false;">Aboubacar Doucoure</a>,
<a href="#" onClick="window.open('https://www.facebook.com/kwhiz.koita','_blank','location=yes');return false;">Kalifa Koita</a>,
<a href="#" onClick="window.open('https://www.facebook.com/dadi.king.18','_blank','location=yes');return false;">Dadi King</a>,
<a href="#" onClick="window.open('https://www.facebook.com/hammaditamirou.toure','_blank','location=yes');return false;">Amirou Toure</a>,
<a href="#" onClick="window.open('https://www.facebook.com/lansenii.diane?ref=br_rs','_blank','location=yes');return false;">Lanceni Diane</a> et
<a href="#" onClick="window.open('https://www.facebook.com/rone.mg','_blank','location=yes');return false;">Modibo Thiam</a><br>
<strong>À tous ceux qui ont supporté ce projet</strong>
</center>

<h5><center><u><font color="red"><strong>Conditions d'utilisation</strong></font></u></center></h5>

<h5> FleaBrocante 1.1 </h5>
<h5> Copyright (c) 2017 Youssouf Ouologuem </h5>

<p>
*** CONTRAT DE LICENCE DE L'UTILISATEUR FINAL ***
</p>

<p>
IMPORTANT: VEUILLEZ LIRE ATTENTIVEMENT CETTE LICENCE AVANT D'UTILISER CE LOGICIEL.
</p>

<h5> 1. LICENCE </h5>

<p>
En recevant, en ouvrant le paquet de fichiers et / ou en utilisant FleaBrocante 1.1 («Logiciel») contenant ce logiciel, vous acceptez que ce Contrat de licence d'utilisateur final (EULA) est un contrat juridiquement contraignant et valable et acceptez d'être lié par celui-ci. Vous acceptez de respecter les lois sur la propriété intellectuelle et tous les termes et conditions de cet accord.
</p>

<p>
Sauf si vous avez un contrat de licence différent signé par Youssouf Ouologuem, votre utilisation de FleaBrocante 1.1 indique votre acceptation de ce contrat de licence et de votre garantie.
</p>

<p>
Sous réserve des conditions du présent Contrat, Youssouf Ouologuem vous accorde une licence limitée, non exclusive et non transférable, sans droit de sous-licence, d'utiliser FleaBrocante 1.1 conformément au présent Contrat et à toute autre entente écrite avec Youssouf Ouologuem. Youssouf Ouologuem ne vous transfère pas le titre de FleaBrocante 1.1; La licence qui vous a été accordée n'est pas une vente. Cet accord est un accord juridique contraignant entre Youssouf Ouologuem et les acheteurs ou utilisateurs de FleaBrocante 1.1.
</p>

<p>
Si vous n'acceptez pas d'être lié par cet accord, retirez FleaBrocante 1.1 de votre ordinateur maintenant et, le cas échéant, retournez rapidement à Youssouf Ouologuem par courrier des copies de FleaBrocante 1.1 et des documents connexes et des emballages en votre possession.
</p>
 
<h5> 2. DISTRIBUTION </h5>

<p>
FleaBrocante 1.1 et la licence accordée ici ne doivent pas être copiées, partagées, distribuées, vendues à neuf, offertes pour la revente, transférées ou sous-licence en tout ou en partie, sauf que vous pouvez en faire une seule copie à des fins d'archives. Pour plus d'informations sur la redistribution de FleaBrocante 1.1, contactez Youssouf Ouologuem.
</p>
 
<h5> 3. ACCORD D'UTILISATION </h5>

<h5> 3.1 Utiliser </h5>

<p>
Votre licence d'utilisation de FleaBrocante 1.1 est limitée au nombre de licences achetées par vous. Vous ne devez pas autoriser d'autres personnes à utiliser, copier ou évaluer des copies de FleaBrocante 1.1.
</p>

<h5> 3.2 Restrictions d'utilisation </h5>

<p>
Vous devez utiliser FleaBrocante 1.1 conformément à toutes les lois applicables et non à des fins illégales. Sans limiter ce qui précède, utiliser, afficher ou distribuer FleaBrocante 1.1 avec du matériel pornographique, raciste, vulgaire, obscène, diffamatoire, diffamatoire, abusif, favorisant la haine, discriminant ou affichant des préjugés fondés sur la religion, le patrimoine ethnique, la race, l'orientation sexuelle Ou l'âge est strictement interdit.
</p>

<p>
Chaque copie sous licence de FleaBrocante 1.1 peut être utilisée sur un seul emplacement d'ordinateur par un utilisateur. L'utilisation de FleaBrocante 1.1 signifie que vous avez chargé, installé ou exécuté FleaBrocante 1.1 sur un ordinateur ou un périphérique similaire. Si vous installez FleaBrocante 1.1 sur une plate-forme, un serveur ou un réseau multi-utilisateurs, chaque utilisateur individuel de FleaBrocante 1.1 doit être autorisé séparément.
</p>

<p>
Vous pouvez faire une copie de FleaBrocante 1.1 à des fins de sauvegarde, pourvu que vous ayez une seule copie installée sur un ordinateur utilisé par une personne. D'autres utilisateurs ne peuvent utiliser votre copie de FleaBrocante 1.1. La cession, la sous-licence, la mise en réseau, la vente ou la distribution de copies de FleaBrocante 1.1 sont strictement interdites sans l'accord écrit préalable de Youssouf Ouologuem. C'est une violation de cet accord de céder, vendre, partager, prêter, louer, louer, emprunter, mettre en réseau ou transférer l'utilisation de FleaBrocante 1.1. Si une personne autre que vous-même utilise FleaBrocante 1.1 enregistré à votre nom, que ce soit en même temps ou à des moments différents, cette entente est violée et vous êtes responsable de cette violation!
</p>

<h5> 3.3 Restriction de copyright </h5>

<p>
Ce logiciel contient du matériel protégé par des droits d'auteur, des secrets commerciaux et d'autres documents exclusifs. Vous ne devez pas, et ne doit pas essayer de modifier, faire de l'ingénierie inverse, démonter ou décompiler FleaBrocante 1.1. Vous ne pouvez pas non plus créer des œuvres dérivées ou d'autres travaux fondés ou dérivés de FleaBrocante 1.1 en tout ou en partie.
</p>
  
</p>
Le nom de Youssouf Ouologuem, le logo et le fichier graphique qui représente FleaBrocante 1.1 ne doivent être utilisés de manière à promouvoir des produits développés avec FleaBrocante 1.1. Youssouf Ouologuem conserve la propriété unique et exclusive de tout droit, titre et intérêt dans FleaBrocante 1.1 et tous les droits de propriété intellectuelle qui s'y rattachent.
</p>

</p>
Le droit d'auteur et les dispositions internationales sur les traités de droit d'auteur protègent toutes les parties de FleaBrocante 1.1, produits et services. Aucun programme, code, partie, image, échantillon audio ou texte ne peut être copié ou utilisé de quelque manière que ce soit par l'utilisateur, sauf dans les limites du programme utilisateur unique. Tous les droits non expressément accordés ci-dessous sont réservés à Youssouf Ouologuem.
</p>

<h5> 3.4 Limitation de la responsabilité </h5>

<p>
Vous indemniserez, défendez et défendez Youssouf Ouologuem, ses employés, agents et distributeurs contre toutes les réclamations, procédures, demandes et coûts résultant ou liés de quelque manière que ce soit à votre utilisation du Logiciel de Youssouf Ouologuem.
</p>

<p>
En aucun cas (y compris, sans s'y limiter, en cas de négligence), Youssouf Ouologuem, ses employés, ses agents ou ses distributeurs seront responsables des dommages consécutifs, accessoires, indirects, spéciaux ou punitifs (y compris, sans limitation, les dommages-intérêts pour perte de Les bénéfices, la perte d'utilisation, l'interruption de l'activité, la perte d'informations ou les données, ou les pertes pécuniaires), liées ou découlant de ce contrat ou liées à cet accord, FleaBrocante 1.1 ou l'utilisation ou l'incapacité d'utiliser FleaBrocante 1.1 ou la fourniture, la performance ou L'utilisation de toute autre question ci-dessous, que ce soit en vertu d'un contrat, d'une responsabilité délictuelle ou de toute autre théorie, y compris la négligence.
</p>

<p>
La responsabilité complète de Youssouf Ouologuem, sans exception, est limitée au remboursement par les clients du prix d'achat du Logiciel (le montant le moins élevé du montant payé par vous et le prix de détail conseillé tel que répertorié par Youssouf Ouologuem) en échange du retour de Le produit, toutes les copies, les papiers d'enregistrement et les manuels, ainsi que tous les documents qui constituent un transfert de licence du client à Youssouf Ouologuem.
</p>
  
<h5> Garanties 3.5 </h5>

<p>
Sauf indication expresse par écrit, Youssouf Ouologuem ne fait aucune déclaration ou garantie à l'égard de ce Logiciel et exclut expressément toutes les autres garanties, exprimées ou implicites, orales ou écrites, y compris, sans s'y limiter, les garanties implicites de qualité marchande ou d'adéquation à un particulier objectif.
</p>

<h5> 3.6 Droit applicable </h5>

<p>
Le présent Accord sera régi par la loi du Mali qui y est applicable. Vous déclarez et soumettez irrevocablement à la juridiction non exclusive des tribunaux du Mali. Si une disposition doit être considérée comme illégale, nulle ou autrement inapplicable, cette disposition sera considérée comme séparable de cette Licence et n'affectera pas la validité et la force exécutoire de toute autre disposition.
</p>

<h5> 3.7 Terminaison </h5>

<p>
Le non-respect des termes et conditions du présent Contrat entraînera la résiliation automatique et immédiate de cette licence. À la suite de la résiliation de cette licence accordée ici pour quelque raison que ce soit, vous acceptez de cesser immédiatement l'utilisation de FleaBrocante 1.1 et de détruire toutes les copies de FleaBrocante 1.1 fournies en vertu du présent Accord. Les obligations financières encourues par vous survivront à l'expiration ou à la résiliation de cette licence.
</p>

<h5> 4. EXCLUSION DE GARANTIE </h5>

<p>
CE LOGICIEL ET LES FICHIERS D'ACCOMPAGNEMENT SONT VENDUS «TELS QUELS» ET SANS GARANTIE EN CE QUI CONCERNE LA PERFORMANCE OU LA QUALITÉ MARCHANDE OU TOUTE AUTRE GARANTIE QU'IL SOIT EXPRIMÉ OU IMPLICITE. CETTE EXERCICE CONCERNENT TOUS LES FICHIERS GÉNÉRÉS ET RÉDUITES PAR FleaBrocante 1.1 AS BIEN.
</p>

<h5> 5. CONSENTEMENT DE L'UTILISATION DE DONNÉES </h5>

<p>
Vous acceptez que Youssouf Ouologuem puisse recueillir et utiliser les informations recueillies de quelque manière que ce soit dans le cadre des services de soutien du produit qui vous sont fournis, le cas échéant, liés à FleaBrocante 1.1. Youssouf Ouologuem peut également utiliser cette information pour lui fournir des avis qui peuvent être utiles Ou un intérêt pour vous.
</p>
</div>

  </ion-content>
</ion-view>
